#count {
    margin-bottom: 20px;
    margin-left: 70px;
}

#increment-actions {
    margin-top: 20px;
}

#increment-two {
    margin-left: 10px;
}

#increment-three {
    margin-left: 10px;
}

#increment-five {
    margin-left: 10px;
}

#correction-actions {
    margin-top: 50px;
    margin-left: 50px;
}

#decrement {
    margin-left: 10px;
}

#reset-actions {
    margin-top: 100px;
    margin-left: 50px;
}
